header{
    background-color: aqua;
    display: flex;
    position: absolute;
    top:0;
    height: 10%;
    width: 100%;
}
header #left{
    background-color: red;
    margin-right: 10px;
}

content #left{
    position: absolute;
    flex-direction: column;
    top:10%;
    width: 10%;
    height: 90%;
    background-color: blue;
}
content #right{
    position: absolute;
    flex-direction: column;
    top:10%;
    left: 10%;
    width: 90%;
    height: 90%;
    background-color: grey;
}